<div class="address-page">
  <div class="address">
    <span>  سبد خرید</span>

    <span>مجموع 444545 تومان  </span>
  </div>
  <hr style="width: 60%; color: rgb(185, 184, 184);"/>
<h4><strong> انتخاب آدرس</strong></h4>
<p>لطفا آدرسی را انتخاب کنید و یا آدرس جدید برای دریافت سفارش وارد نمایید.</p>
<div class="address ">
  <input type="checkbox" name="address-recive" id="address-recive">
  <div class="address-recive">
    <p>الهام کریوند</p>
    <p>تهران</p>
    <p>شماره تماس:09331050281</p>
  </div>

</div>
<button type="button" style="width: 53rem;margin-top: 2rem;background-color: transparent;color: blue;border: 1px solid blue;height: 2.5rem;border-radius: 0.2rem;">افزودن آدرس جدید</button>
</div>



