<div class="containerr">
  <div class="header">
    <img src="../../assets/images/logo.svg" alt="rabani" class="logo" />
    <div class="search-box">
      <form action="">
        <input
          type="text"
          class="search-box"
          placeholder="محصول مورد نظر خود را جست و جو کنید  "
        />
        <img src="../../assets/images/search.svg" alt="" class="fa fa-search" />
      </form>
    </div>

    <div class="btn btn-login">
      <button type="button" class="btn btn-login" >
        <img src="../../assets/images/person-fill.svg" style="width: 1.3rem" />
         <a routerLink="/login">ورود</a>
         <!-- <a >حساب کاربری</a> -->

      </button>

      <button type="button" class="btn btn-login">
        <img src="../../assets/images/cart2.svg" style="width: 1.3rem" />
        سبد خرید
      </button>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <li class="list"><a routerLink="/">صفحه اصلی</a></li>
      <li><a routerLink="" (click)="opensubmenue()">فروشگاه ربانی</a></li>
      <li><a routerLink="/landing/franchise">اخذ نمایندگی</a></li>
      <li><a routerLink="/contact-us">تماس با ما</a></li>
      <li><a routerLink="/about-us"> درباره ما</a></li>
    </ul>
  </div>
</div>
<div *ngIf="openmenue">
  <ul
    style="
      width: 14rem;
      height: 15rem;
      display: flex;
      flex-direction: column;
      margin-right: 90rem;
      background-color: white;
      border-radius: 0.5rem;
      position: absolute;
      top: 5.1rem;
      z-index: 10;
    "
  >
    <li style="margin-right: 1rem;margin-top:0.5rem">
      <img src="../../assets/images/incognito.svg" style="width: 1.3rem;"
      />
      <a
        routerLink="account/profile"
        style="font-size: 0.9rem; font-weight: bold;margin-right: 0.5rem;"
        >اطلاعات شخصی</a>
    </li>
    <li style="margin-right: 1rem;margin-top:0.5rem">
      <img src="../../assets/images/credit-card.svg" style="width: 1.3rem;"/>
      <a
        routerLink="#"
        style="font-size: 0.9rem; font-weight: bold; margin-right:  0.5rem;"
        >سفارش های من
      </a>
    </li>
    <li style="margin-right: 1rem;margin-top:0.5rem">
      <img src="../../assets/images/geo-alt-fill.svg" style="width: 1.3rem;"/>
      <a
        routerLink="#"
        style="font-size: 0.9rem; font-weight: bold; margin-right:  0.5rem"
        >آدرس ها</a
      >
    </li>
    <li style="margin-right: 1rem;margin-top:0.5rem">
      <img src="../../assets/images/bookmark.svg" style="width: 1.3rem;"
      />
      <a
        routerLink="#"
        style="font-size: 0.9rem; font-weight: bold; margin-right:  0.5rem"
        >نشان شده ها </a>
    </li>
    <li
    style="margin-right: 1rem;margin-top:0.5rem"

    ><img src="../../assets/images/box-arrow-in-right.svg" style="width: 1.3rem;" />
      <a routerLink="#"  style="font-size: 0.9rem; font-weight: bold; margin-right: 0.5rem">خروج</a>
    </li>
  </ul>
</div>
<div *ngIf=" submenue" class="submenue">
  <div style="display:flex;flex-direction:row;justify-content:space-around;margin-top: 1rem;">
    <p style="border-bottom: 2px solid #ffcb53;padding-bottom: 0.5rem;"><strong>پـارچه</strong></p>
    <p style="border-bottom: 2px solid #ffcb53;padding-bottom: 0.5rem;"><strong>گالری الگو</strong></p>
    <p style="border-bottom: 2px solid #ffcb53;padding-bottom: 0.5rem;"><strong>کالای خواب</strong></p>
  </div>
  <div style="display:flex;flex-direction:row">
    <ul style="display:flex;flex-direction:column;margin-right: 3rem;margin-top: 0.5rem;">
      <li><a routerLink="/category/انواع پارچه">جنس پارچه</a></li>
      <li><a routerLink="#">رنگ پارچه</a></li>
      <li><a routerLink="#">طرح پارچه</a></li>
      <li><a routerLink="#">کاربرد پارچه</a></li>
    </ul>
    <ul style="display:flex;flex-direction:column;margin-right: 4rem;margin-top: 0.5rem;">
      <li><a routerLink="#">مانتو</a></li>
      <li><a routerLink="#">شومیز </a></li>
      <li><a routerLink="#">پیراهن </a></li>
      <li><a routerLink="#">شلوار </a></li>
    </ul>
    <ul style="display:flex;flex-direction:column;margin-right:5rem;margin-top: 0.5rem;">
      <li><a routerLink="#">کالای خواب </a></li>

    </ul>
  </div>

</div>
<router-outlet></router-outlet>
