<div class="containerr">
  <div class="header">
    <img src="../../assets/images/logo.svg" alt="rabani" class="logo" />
    <div class="search-box">
      <form action="">
        <input
          type="text"
          class="search-box"
          placeholder="محصول مورد نظر خود را جست و جو کنید  "
        />
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
    </div>

    <div class="btn btn-login">
      <button type="button" class="btn btn-login">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        ورود
      </button>
      <button type="button" class="btn btn-login">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>سبد خرید
      </button>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <li><a href="#">صفحه اصلی</a></li>
      <li><a href="#">فروشگاه ربانی</a></li>
      <li><a href="#">اخذ نمایندگی</a></li>
      <li><a href="#">تماس با ما</a></li>
      <li><a href="#"> درباره ما</a></li>
    </ul>
  </div>
</div>
