

<div class="container">
    <div class="header">

       

        <img src="http://localhost:3000/static/img/logo.svg" alt="rabani" class="logo">
        <div class="search-box">
            <form action="">
                <input type="text" class="search-box" placeholder="محصول مورد نظر خود را جست و جو کنید  ">
            </form>
        </div>

        <div class="btn btn-login">
            <button type="button" class="btn btn-login">
                <i class="fa fa-id-card" aria-hidden="true"></i>
                ورود
            </button>
            <button type="button" class="btn btn-login">سبد خرید</button>
        </div>

    </div>
    <div class="navbar">
        <ul>
            <li> <a href="#">صفحه اصلی</a></li>
            <li> <a href="#">فروشگاه ربانی</a></li>
            <li> <a href="#">اخذ نمایندگی</a></li>
            <li> <a href="#">تماس با ما</a></li>
            <li> <a href="#"> درباره ما</a></li>

        </ul>


    </div>
</div>