.containerr {
  box-shadow: 4px 4px 10px rgb(214, 214, 214);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 8rem;
  height: 5rem;
}

.search-box {
  width: 40rem;
  height: 2.8rem;
  border: 1px solid #e4e3e3;
}

.btn .btn-login {
  width: 8rem;
  height: 3rem;
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: #f5f4f4;
  font-family: IRANSans;
}

.navbar {
  background-color: #f5f4f4;
  height: 3.3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
}

ul li {
  list-style: none;
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
  color: #777777;
  text-align: center;
  font-size: 1rem;
}
.fa-search {
  position: absolute;
  top: 2rem;
  color: #e4e3e3;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
input {
  padding-right: 2rem;
}
input::placeholder {
  font-family: IRANSans;
  font-size: 0.75rem;
}
.fa-user-circle-o,
.fa-cart-plus {
  color: #777777;
  font-size: 1.1rem;
}
