<div class="address-page">
  <div class="address" style="height: 3rem; padding: 0.5rem">
    <span style="margin-top: 0.5rem; font-size: 0.8rem; margin-left: 1rem">
      سبد خرید
    </span>

    <span style="margin-top: 0.5rem; font-size: 0.8rem"
      >مجموع {{ totalPrice }} تومان
    </span>
  </div>
  <div class="address" style="height: 3rem; padding: 0.5rem">
    <span style="margin-top: 0.5rem; font-size: 0.8rem; margin-left: 1rem">
      آدرس ارسال {{address}}
    </span>

    <span style="margin-top: 0.5rem; font-size: 0.8rem">{{ address }} </span>
  </div>
  <hr style="width: 60%; color: rgb(185, 184, 184)" />
  <div style="margin-left: 28rem">
    <h4 style="margin-bottom: 1rem"><strong> نحوه ارسال</strong></h4>
    <p style="font-size: 0.8rem">
      لطفا آدرسی را انتخاب کنید و یا آدرس جدید برای دریافت سفارش وارد نمایید.
    </p>
  </div>

  <div class="address" style="padding: 0.5rem" *ngFor="let item of shipping">
    <label class="container">
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
    <div class="address-recive">
      <p>
        <strong>{{item.Name}}</strong>
      </p>
      <p style="font-size: 0.8rem">
       {{item.Description}}
      </p>
      <p style="font-size: 0.8rem"> </p>
    </div>
  </div>
  <button type="button" class="Continu" type="button"  >
   تایید و انتخاب نحوه پرداخت
  </button>
