<div class="contact-us">
  <h4>
    <strong style="margin-bottom: 1.5rem; display: inline-block;"> تماس با ما</strong>
  </h4>

  <strong class="header-title">دفتر اداری</strong>
  <p>آدرس پستی: تهران - خیابان گاندی جنوبی - خیابان ۲۳ - پلاک ۵ - طبقه دوم</p>
  <p>کد پستی: ۱۵۱۷۸۶۳۳۱۱</p>
  <p>تلفن تماس: ۰۲۱۸۸۸۸۵۰۱۸</p>
  <p>ساعت کاری: شنبه تا چهارشنبه از ساعت ۹ تا ۱۸ - پنج‌شنبه از ساعت ۹ تا ۱۴</p>
  <p>&nbsp;</p>

    <strong class="header-title">شعبه مرکزی</strong>

  <p>
    تهران: گاندی جنوبی – نبش خیابان 21م – پلاک 69 – شماره تماس : 88880402-021
  </p>
  <p>&nbsp;</p>

    <strong class="header-title">سایر شعب</strong>
<br/>
  <strong>تهران </strong>
  <p>
     تهران- میدان تجریش – خیابان شهرداری – روبروی بیمارستان شهدای تجریش – جنب
    پاساژ میری و نان سحر – شماره تماس : 26850698-021
  </p>
  <strong>تهران </strong>
  <p> تهران- فلکه دوم صادقیه- ابتدای ستارخان- نبش خیابان مرودشت- پلاک 27</p>
  <strong>البرز</strong>
  <p>
     کرج – خیابان طالقانی شمالی – نرسیده به آزادگان – برج یادمان – واحد جی 20 –
    شماره تماس : 34205052-026
  </p>
  <strong>قم</strong>
  <p> قم – خیابان دورشهر – نبش کوچه 22 – شماره تماس : 37731009-025</p>
  <strong>آذربایجان شرقی</strong>
  <p>
    تبریز – خیابان ولیعصر – چهارراه رازی – خیابان شهریار شمالی – طبقه فوقانی
    موبایل اصلانی – پلاک 10 – شماره تماس : 33103255-041
  </p>
  <strong>آذربایجان غربی</strong>
  <p> مهاباد – خیابان محمد قاضی – پلاک 2 – شماره تماس : 42335111- 044</p>
  <strong>فارس</strong>
  <p>
     آباده – میدان ولیعصر – ابتدای خیابان معلم – نرسیده به پاساژ ستاره – شماره
    تماس : 44332930-071
  </p>
  <strong>سمنان</strong>
  <p>
     سمنان – میدان امام علی – فاز یک بهارستان – واحد 1 – شماره تماس :
    33465469-023
  </p>
  <strong>یزد</strong>
  <p>
     یزد – خیابان آیت ا.. کاشانی – خیابان ایثارگران نعیم آباد – بعد از تاکسی
    تلفنی مرکزی – نبش کوچه شانزدهم – شماره تماس : 38344152-035
  </p>
  <strong>کرمان</strong>
  <p>
    رفسنجان – خیابان طالقانی – روبه روی کتابخانه مرتضوی – پلاک 550 – شماره
    تماس : 34259853-034
  </p>
  <strong>خوزستان</strong>
  <p>
    دزفول – خیابان فتح المبین – بین خیابان استقلال و نظام الملک – ساختمان 110
    – شماره تماس : 42252801-061
  </p>
</div>
