<div class="section-about-us">
  <div class="about-us">
    <img src="../../assets/images/0043326_Header.png" alt="">
  </div>
  <div class="about-us-content">
    <h4>
      <strong> معرفی شرکت ربانی</strong>
     </h4>
     <span>
      مجموعه ربانی یک استارت آپ در حوزه خرده و عمده فروشی پارچه است. امروز که بیش از 16 سال از شروع به کار ربانی از
      اتفاقات مهمی را در عرصه فروش پارچه رقم بزنیم. بیش از 3 سال است که بستر آنلاین را هم میزبان ارائه محصولات و خدمات خود کردیم و توانستیم از طریق سایت و
      اپلیکیشن، پارچه های مختلف را به هم میهنان خود در سراسر ایران ارائه دهیم. بیش از 5000 نوع پارچه در بیش از 12 شعبه ما در سراسر کشور بصورت آنلاین و آفلاین
      به فروش می رسد و این مسیر رو به جلو امروز با سرعت بیشتری نسبت به هر زمان دیگری در حال طی شدن است.
      ما دغدغه تغییر داریم و تلاش ما این است که دسترسی و خرید پارچه های با کیفیت و منحصر به فرد را برای هم وطنانمان آسانتر کنیم.
      سهم زیادی از دستاوردهای ما در ربانی مدیون زحمات متخصصان حوزه های مختلفی است که دور هم جمع شدند تا به اهداف بزرگ مجموعه جامه عمل بپوشانند. البته
      روحیه کار حرفه ای و جو صمیمی حاکم بر محیط کاری نیل به این اهداف را برای ما آسانتر می کند.
     </span>
  </div>
  <div>
    <img src="../../assets/images/Photo_1000.png" style="border-radius: 1rem;">
  </div>
  <div class="content">
    <h4>چشم انداز</h4>
    <span>با ایجاد یک مدل کسب و کار بهینه و سود آور برای تمام نقش آفرینان حوزه پوشاک در نظر داریم تا با حمایت از کالای ایرانی و بهبود دسترسی پذیری، شعب ربانی را
      در سراسر کشور توسعه دهیم.
    </span>
    <h4>ماموریت</h4>
    <span>ما می کوشیم تا با فراهم کردن بهترین پارچه ها از ایران و سراسر دنیا برای هم وطنانمان زمینه را برای تولید پوشاک فاخر ایرانی فراهم کنیم و با ایفای نقشی کلیدی
      در صنعت پوشاک راه را برای تولید و عرضه پوشاک شایسته برای ایرانیان هموار سازیم.
    </span>
  </div>
  <button type="button" style="padding: 0.75rem; border-radius:0.5rem ; background-color:#ffcb53 ; border: none;margin-bottom: 1rem;">مشاهده فرصت های شغلی</button>
  <p>ایمیل منابع انسانی:</p>
  <a routerLink="mailto:hr@rabani.com">hr@rabani.com</a>
</div>

