<div>
  <img
    src="https://www.rabani.com/static/img/default-avatar.jpg"
    class="image-person"

  />
  <div>
    <ul>
      <li>
        <img src="../../assets/images/person.svg" style="padding-left: 1rem" />
        <a [routerLink]="['profile']" routerLinkActive="active">اطلاعات شخصی</a>
      </li>
      <li>
        <img src="../../assets/images/cart2.svg" style="padding-left: 1rem" />
        <a [routerLink]="['orders']" routerLinkActive="active"
          >سفارشات
        </a>
      </li>
      <li>
        <img
          src="../../assets/images/bookmark (1).svg"
          style="padding-left: 1rem"
        />
        <a routerLink="#" routerLinkActive="active">نشان شده ها </a>
      </li>
      <li>
        <img
          src="../../assets/images/geo-alt-fill.svg"
          style="padding-left: 1rem"
        />
        <a [routerLink]="['addresess']" routerLinkActive="active">آدرس ها </a>
      </li>
      <li>
        <img
          src="../../assets/images/arrow-right-square.svg"
          style="padding-left: 1rem"
        />
        <a routerLink="#" routerLinkActive="active"  (click)="logOutUser()">خروج </a>
      </li>
    </ul>
  </div>
</div>
