<div style="margin-right: 36rem; margin-top: 2rem" *ngIf="cart.Items?.length">
  <h5 style="margin-bottom: 1rem"><strong> سبد خرید</strong></h5>
  <p style="font-size: 0.8rem">
    لیست سبد خرید شما در زیر قابل رویت است.میتوانید از این قسمت موارد انتخاب شده
    را ویرایش و یا حذف نمایید
  </p>
  <p style="font-size: 0.8rem">
    ادامه مراحل به معنای تایید
    <a routerLink="#" style="text-decoration: none">
      <strong> قوانین و مقررات</strong>
    </a>
    سایت است
  </p>
  <div *ngFor="let item of cart?.Items"
    class="cart-main"
    style="
      border: 1px solid rgb(223, 223, 223);
      margin-top: 2rem;
      width: 50rem;
      padding: 1rem;
      border-radius: 0.2rem;
    "
  >
    <div

      style="display: flex; flex-direction: row; justify-content: space-between;margin-bottom: 1rem;"
    >
      <div class="cart-item">
        <img
          src="{{ item.Picture.ImageUrl }}"
          style="
            width: 6rem;
            height: 6 rem;
            border-radius: 0.5rem;
            margin-left: 2rem;
          "
        />
        <div class="cart-content">
          <span> {{ item.ProductName }} </span>
          <span> کد محصول <strong> {{ item.Sku }} </strong> </span>
          <span> تعداد <strong>{{ item.Quantity }} {{item.QuantityType}}</strong></span>
        </div>
      </div>
      <div style="margin-left: 1rem;">
        <button type="button" (click)="deleteItem(item.Id)" style="background-color: transparent;border: none;">
          <img
          src="../../assets/images/trash.svg"
          style="margin-left: 1rem; width: 1.4rem"
        />
        </button>
<!-- <button type="button" style="background-color: transparent;border: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">

  <img
    src="../../assets/images/credit-card.svg"
    style="width: 1.4rem"
/>
</button> -->

      </div>
    </div>
    <hr />

    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <p>قیمت هر متر <span style="color: blue">{{item.UnitPrice}} تومان</span></p>
      <p>مجموع <span span style="color: blue">{{item.SubTotal}}تومان</span></p>
    </div>
  </div>
  <div
    style="
      margin-right: 33rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

    "

  >

    <div style="margin-bottom: 1rem" >
      <span> مجموع سفارش </span>
      <span style="color: rgb(218, 218, 218)">- - - - - - - - - -</span>
      <span> {{cart.OrderTotalResponseModel.SubTotal}} تومان</span>
    </div>
    <div style="margin-bottom: 1rem"  >
      <span> هزینه حمل </span>
      <span style="color: rgb(218, 218, 218)"> - - - - - - - - - - - - -</span>
      <span> 0 تومان</span>
    </div>
    <div style="margin-bottom: 1rem"  >
      <span> مجموع کوپن </span>
      <span style="color: rgb(218, 218, 218)">- - - - - - - - - - - - -</span>
      <span> 0 تومان</span>
    </div>
    <div style="margin-bottom: 1rem"  >
      <span> مجموع تخفیف </span>
      <span style="color: rgb(218, 218, 218)">- - - - - - - - - - - - -</span>
      <span>{{cart.OrderTotalResponseModel.OrderTotalDiscount}} تومان</span>
    </div>
    <div style="margin-bottom: 1rem" >
      <strong> <span> جمع کل </span></strong>

      <span style="color: rgb(218, 218, 218)">- - - - - - - - - - - - -</span>
      <strong> <span> {{cart.OrderTotalResponseModel.OrderTotal}} تومان</span></strong>
    </div>
  </div>


  <div style="display: flex; flex-direction: row; align-items: center">
    <button
      style="
        background-color: #ffcb53;
        width: 15rem;
        height: 2.8rem;
        border: none;
        border-radius: 0.2rem;
        margin-top: 5rem;
        margin-left: 20rem;
        color: black;
      "
      type="submit"
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      افزودن کد تخفیف
    </button>
    <button
      style="
        background-color: #ffcb53;
        width: 15rem;
        height: 2.8rem;
        border: none;
        border-radius: 0.2rem;
        margin-top: 5rem;
        color: black;
      "
      type="submit"
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal2"
      routerLink="/address"
    >
      اتمام خرید و انتخاب آدرس
    </button>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 1rem">
          <strong> افزودن کد تخفیف</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" style="margin-right: 20rem">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 0.8rem">لطفا کد تخفیف را وارد نمایید</p>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          style="
            background-color: #ffcb53;
            border: none;
            color: black;
            font-size: 0.9rem;
          "
          data-dismiss="modal"
          [(ngModel)]="copon"

        >
          ثبت کد تخفیف
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>

<p *ngIf="!cart.Items.length" style="text-align: center;margin-top:4rem;height: 50vh;">سبد خرید شما خالی می باشد</p>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ویرایش اندازه </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p class="modal-sub">مقدار مورد نظر جهت سفارش را تعیین نمایید:</p>
      <div class="modal-body-input"  >
        <select style="width: 14rem; height: 2.5rem"  name="meter" (change)="onMeterSelected($event)">
          <option *ngFor="let meter of meterArray">
            {{meter}} متر
          </option>
        </select>

        <select style="width: 14rem; height: 2.5rem" name="centimeterv" (change)="onCentemeterSelected($event)">
          <option ngvalue="centimeter" *ngFor="let centimeter of centemeterArray"  >{{centimeter}} سانتی متر</option>
        </select>


      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="button-add"
          aria-label="Close"
          data-dismiss="modal"

        >
          <img src="../../assets//images/cart2.svg" />
          افزودن به سبد خرید
        </button>
      </div>
    </div>
  </div>
</div>
