<div class="categorys">
  <div class="category-item">
    <a routerLink="/category/انواع پارچه">
      <img
        class="img-categury"
        src="https://api.rabani.com/images/thumbs/0020111_-_350.jpeg"
        alt=""
      />
    </a>
    <span class="title-category">انواع پارچه</span>
  </div>
  <div class="category-item">
    <a routerLink="/category/انواع پارچه">
      <img
        class="img-categury"
        src="https://api.rabani.com/images/thumbs/0020110_-_350.jpeg"
        alt=""
      />
    </a>
    <span class="title-category">رنگ پارچه</span>
  </div>
  <div class="category-item">
    <a routerLink="/category/انواع پارچه">
      <img
        class="img-categury"
        src="https://api.rabani.com/images/thumbs/0020109_-_350.jpeg"
        alt=""
      />
    </a>
    <span class="title-category">طرح پارچه</span>
  </div>
  <div class="category-item">
    <a routerLink="/category/انواع پارچه">
      <img
        class="img-categury"
        src="https://api.rabani.com/images/thumbs/0020106_-_350.jpeg"
        alt=""
      />
    </a>
    <span class="title-category">کاربرد پارچه</span>
  </div>
</div>
