<div class="address-page">
  <div class="address" style="height: 3rem; padding: 0.5rem">
    <span style="margin-top: 0.5rem; font-size: 0.8rem; margin-left: 1rem">
      سبد خرید
    </span>

    <span style="margin-top: 0.5rem; font-size: 0.8rem"
      >مجموع 444545 تومان
    </span>
  </div>
  <div class="address" style="height: 3rem; padding: 0.5rem">
    <span style="margin-top: 0.5rem; font-size: 0.8rem; margin-left: 1rem">
      آدرس ارسال
    </span>

    <span style="margin-top: 0.5rem; font-size: 0.8rem"
      >تهران
    </span>
  </div>
  <div class="address" style="height: 3rem; padding: 0.5rem">
    <span style="margin-top: 0.5rem; font-size: 0.8rem; margin-left: 1rem">
     نحوه ارسال
    </span>

    <span style="margin-top: 0.5rem; font-size: 0.8rem"
      >پست پیشتاز(ارسال رایگان)
    </span>
  </div>
  <hr style="width: 60%; color: rgb(185, 184, 184)" />
  <div style="margin-left:6rem">
    <h4 style="margin-bottom: 1rem"><strong> روش پرداخت</strong></h4>
    <h5 style="color: red;" >
     توجه:برای پرداخت ار طریق درگاه پرداخت، از قطع بودن VPN و فیلتر شکن ها اطمینان حاصل کنید
    </h5>
  </div>

  <div class="address" style="padding: 0.5rem">
    <label class="container">
      <input type="checkbox"  />
      <span class="checkmark"></span>
    </label>
    <div class="address-recive">
      <p><strong> آسان پرداخت</strong></p>

      <p style="font-size: 0.8rem">پرداخت توسط آسان پرداخت </p>
    </div>
  </div>
  <button type="button" class="Continu" type="button"  >
   اتمام سفارش و پرداخت
  </button>
</div>


