.selected-categury{

  width: 73%;
  position: relative;
  right: 15rem;
  top: 4rem;
}
.selected{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
}
.selected-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}
.img-selected{
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  margin-left: 1.3rem;
}
.title-selected{
  position: relative;
  top: -5rem;
  margin-right: 1.5rem;


color: white;
font-size: 1.2rem;
font-family: IRANSans;
}
.price-selected{
  position: relative;
  top: -4.5rem;
  right: 1.5rem;
  color: white;
  font-size: 1.3rem;
  margin-right: 0.2rem;

}

.selected-name{
margin-right: 2rem;
padding:1rem ;
}
.selected-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a{
  margin-left: 2rem;
  text-decoration: none;
}
