<div class="franchaise">
  <img src="../../assets/images/banner.png" />

  <div className="page page--landing-franchise">
    <div class="cooperation__section">
      <img
        src="https://www.rabani.com/static/img/landing/franchise/icon-cooperation.svg"
        style="margin: 4rem"
      />
      <h5 className="cooperation__title" style="margin-bottom: 1rem">
        <strong> اخذ نمایندگی فروش پارچه ربانی در سراسر کشور</strong>
      </h5>
      <h5
        className="cooperation__subtitle"
        style="color: gray; margin-bottom: 3rem"
      >
        با کمترین سرمایه فروشگاه خود را راه اندازی کنید
      </h5>
      <p className="cooperation__description" style="text-align: center">
        فروشگاه پارچه ربانی، یکی از معروفترین برندهای فروش پارچه در کشور است.
        تولیدکنندگان لباس و مزون‌داران از مشتریان همیشگی ما هستند. ربانی وارد
        کننده پارچه‌هایی است که مشابه آن در دیگر فروشگاه‌ها به فروش نمی‌رسد.
        بنابراین بسیاری از پارچه های انحصاری را می‌توان از شعب ربانی خریداری
        کرد. انواع پارچه‌ها از کشورهای ترکیه، چین، دبی، ژاپن وارد شده و علاوه بر
        آن تنوع زیادی از پارچه‌های خاص ایرانی در فروشگاه‌های ربانی موجود است که
        می‌توان به صورت نامحدود از طریق سایت یا تماس تلفنی، سفارش خرید از
        پارچه‌ها را ثبت کرد.
      </p>
    </div>

    <div
      className="benefits__section"
      style="
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2rem 15rem;
      "
    >
      <h3
        className="benefits__title"
        style="
          font-size: 1.3rem;
          margin-right: 40rem;
          margin-bottom: 5rem;
          margin-top: 3rem;
        "
      >
        <strong> مزایای اخذ نمایندگی</strong>
      </h3>
      <div
        className="benefits__items"
        style="
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
        "
      >
        <div
          className="benefits__item"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25rem;

            margin-bottom: 5rem;
          "
        >
          <img
            className="benefits__image"
            src="https://www.rabani.com/static/img/landing/franchise/icon-cost.svg"
            alt="کمترین سرمایه"
            style="width: 7rem; height: 7rem"
          />
          <h4
            className="benefits__label"
            style="font-size: 1rem; font-weight: bold"
          >
            راه‌اندازی شعبه فروشگاهی با کمترین سرمایه
          </h4>
        </div>
        <div
          className="benefits__item"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25rem;
            margin-bottom: 5rem;
          "
        >
          <img
            className="benefits__image"
            src="https://www.rabani.com/static/img/landing/franchise/icon-store.svg"
            alt="بدون نیاز به انبار"
            style="width: 7rem; height: 7rem"
          />
          <h4
            className="benefits__label"
            style="font-size: 1rem; font-weight: bold"
          >
            داشتن یک نمایشگاه پارچه بدون نیاز به انبار
          </h4>
        </div>
        <div
          className="benefits__item"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25rem;
            margin-bottom: 5rem;
          "
        >
          <img
            className="benefits__image"
            src="https://www.rabani.com/static/img/landing/franchise/icon-support.svg"
            alt="پشتیبانی کامل مشتریان"
            style="width: 7rem; height: 7rem"
          />
          <h4
            className="benefits__label"
            style="font-size: 1rem; font-weight: bold"
          >
            پشتیبانی کامل امور فنی و مشتریان از دفتر مرکزی
          </h4>
        </div>
        <div
          className="benefits__item"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25rem;
            margin-bottom: 5rem;
          "
        >
          <img
            className="benefits__image"
            src="https://www.rabani.com/static/img/landing/franchise/icon-logistic.svg"
            alt="تامین پارچه"
          />
          <h4
            className="benefits__label"
            style="font-size: 1rem; font-weight: bold"
          >
            تامین پارچه و موجودی توسط دفتر مرکزی
          </h4>
        </div>
        <div
          className="benefits__item"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25rem;
            margin-bottom: 5rem;
          "
        >
          <img
            className="benefits__image"
            src="https://www.rabani.com/static/img/landing/franchise/icon-advertisement.svg"
            alt="تبلیغات"
            style="width: 7rem; height: 7rem"
          />
          <h4
            className="benefits__label"
            style="font-size: 1rem; font-weight: bold"
          >
            تبلیغات آنلاین و آفلاین توسط تیم بازاریابی ربانی
          </h4>
        </div>
      </div>
    </div>

    <Section className="consultant__section">
      <div className="consultant__description"></div>
    </Section>
    <Section
      className="conditions__section"
      style="
        margin-top: 4rem;
        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 6%);
        width: 90rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        right: 13rem;
        top: 3rem;
      "
    >
      <div className="conditions__container">
        <p
          className="conditions__title"
          style="font-size: 1.2rem; margin-right: 3rem; margin-top: 2rem"
        >
          <strong> شرایط فرد متقاضی: </strong>
        </p>
        <div
          className="conditions__types"
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 3rem;
          "
        >
          <div className="conditions__type">
            <p className="conditions__label" style="font-size: 1rem">
              <strong>۱- شخص حقیقی</strong>
            </p>
            <ul className="conditions__items">
              <li className="conditions__item" style="margin-right: 1rem">
                تابعيت كشور جمهوري اسلامي ايران
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                گواهي عدم سوءپيشينه كيفري
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                گواهي عدم اعتياد
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                داشتن حداقل مدرك تحصيلي ديپلم
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                عدم وابستگي به هرگونه حزب و يا جناح سياسي
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                داشتن حداقل ٢٥ سال سن
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                داشتن شهرت و رزومه كاري مناسب و قابل احراز
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                گواهي عدم چك برگشتي
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                توانايي مالي تجهيز فروشگاه حداقل 400 ميليون تومان
              </li>
            </ul>
          </div>
          <div className="conditions__type">
            <p className="conditions__label" style="font-size: 1rem">
              <strong>۲- شخص حقوقی</strong>
            </p>
            <ul className="conditions__items">
              <li className="conditions__item" style="margin-right: 1rem">
                ارائه اساسنامه، آگهي تأسيس، آخرين روزنامه رسمي و آگهي آخرين
                تغييرات
              </li>
              <li className="conditions__item" style="margin-right: 1rem">
                ارائه مدارك هويتي اعضاي هيئت مديره
              </li>
            </ul>
          </div>
        </div>

        <div
          className="conditions__property"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
          "
        >
          <h3
            className="conditions__label"
            style="font-size: 1rem; margin-right: 3rem"
          >
            <strong>شرايط ملك موردتقاضا</strong>
          </h3>
          <ul className="property__items" style="list-style: none">
            <li
              className="property__item"
              style="
                background-color: rgb(252, 250, 250);
                height: 5rem;
                margin-bottom: 1.5rem;
                margin-right: 3rem;
                padding: 1rem;
              "
            >
              كاربري تجاري
            </li>

            <li
              className="property__item"
              style="
                background-color: rgb(252, 250, 250);
                height: 5rem;
                margin-bottom: 1.5rem;
                margin-right: 3rem;
                padding: 1rem;
              "
            >
              داشتن آب، برق تك فاز و ٣ فاز حداقل ١١ آمپر، گاز شهري و تلفن
            </li>
            <li
              className="property__item"
              style="
                background-color: rgb(252, 250, 250);
                height: 5rem;
                margin-bottom: 1.5rem;
                margin-right: 3rem;
                padding: 1rem;
              "
            >
              حداقل متراژ 100 متر
            </li>
            <li
              className="property__item"
              style="
                background-color: rgb(252, 250, 250);
                height: 5rem;
                margin-bottom: 1.5rem;
                margin-right: 3rem;
                padding: 1rem;
              "
            >
              مالكيت ملك (داشتن سند يا مبايعه نامه) و يا اجاره نامه با مدت
              اعتبار حداقل ٣ سال و يا سرقفلي (با رعايت قانون موجر و مستأجر) با
              رضايت مالك
            </li>
          </ul>
        </div>
      </div>
    </Section>

    <Section className="register__section" style="margin-top: 5rem">
      <h5 className="register__title" style="text-align: center">
        <strong>مشاوره جهت اخذ نمایندگی</strong>
      </h5>
      <form
        class="form-register"
        [formGroup]="formregister"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <div style="margin: 3rem; display: flex; flex-direction: row">
            <div style="display: flex; flex-direction: column">
              <label for="name-family" style="margin-right: 0.8rem">
                نام و نام خانوادگی
              </label>
              <input
                type="text"
                name="name-family"
                style="
                  width: 25rem;
                  height: 2.5rem;
                  border-radius: 0.3rem;
                  border: 1px solid rgb(189, 189, 189);
                  margin-right: 0.5rem;
                  margin-left: 3rem;
                "
                formControlName="firstname"
              />
              <span
                *ngIf="alert"
                style="font-size: 0.7rem; color: red; margin-right: 1rem"
                ;

                >نام و نام خانوادگی مورد نیاز است</span
              >
            </div>
            <div style="display: flex; flex-direction: column">
              <label for="name-family" style="margin-right: 0.8rem"
                >شماره تماس</label
              >
              <input
                type="text"
                name="name-family"
                style="
                  width: 25rem;
                  height: 2.5rem;
                  border-radius: 0.3rem;
                  border: 1px solid rgb(189, 189, 189);
                  margin-right: 0.5rem;
                  margin-left: 3rem;
                "
                formControlName="number"
              />
              <span
                *ngIf="alert"
                style="font-size: 0.7rem; color: red; margin-right: 1rem"
                >شماره تماس مورد نیاز است</span
              >
            </div>
          </div>
          <div>
            <div style="display: flex; flex-direction: row">
              <div style="display: flex; flex-direction: column">
                <label for="name-family" style="margin-right: 0.8rem"
                  >کد ملی</label
                >
                <input
                  type="text"
                  name="name-family"
                  style="
                    width: 25rem;
                    height: 2.5rem;
                    border-radius: 0.3rem;
                    border: 1px solid rgb(189, 189, 189);
                    margin-right: 0.5rem;
                    margin-left: 3rem;
                  "
                  formControlName="NationalCode"
                />
                <span
                  *ngIf="alert"
                  style="font-size: 0.7rem; color: red; margin-right: 1rem"
                  >کد ملی مورد نیاز است</span
                >
              </div>
              <div style="display: flex; flex-direction: column">
                <label for="name-family" style="margin-right: 0.8rem"
                  >منطقه شهرداری</label
                >
                <input
                  type="text"
                  name="name-family"
                  style="
                    width: 25rem;
                    height: 2.5rem;
                    border-radius: 0.3rem;
                    border: 1px solid rgb(189, 189, 189);
                    margin-right: 0.5rem;
                    margin-left: 3rem;
                  "
                  formControlName="RegionalMunicipality"
                />
              </div>
            </div>
          </div>
          <div>
            <div style="margin: 3rem; display: flex; flex-direction: row">
              <div style="display: flex; flex-direction: column">
                <label for="name-family" style="margin-right: 0.8rem"
                  >استان</label
                >
                <input
                  type="text"
                  name="name-family"
                  style="
                    width: 25rem;
                    height: 2.5rem;
                    border-radius: 0.3rem;
                    border: 1px solid rgb(189, 189, 189);
                    margin-right: 0.5rem;
                    margin-left: 3rem;
                  "
                  formControlName="state"
                />
                <span
                  *ngIf="alert"
                  style="font-size: 0.7rem; color: red; margin-right: 1rem"
                  >استان مورد نیاز است</span
                >
              </div>
              <div style="display: flex; flex-direction: column">
                <label for="name-family" style="margin-right: 0.8rem"
                  >شهر</label
                >
                <input
                  type="text"
                  name="name-family"
                  style="
                    width: 25rem;
                    height: 2.5rem;
                    border-radius: 0.3rem;
                    border: 1px solid rgb(189, 189, 189);
                    margin-right: 0.5rem;
                    margin-left: 3rem;
                  "
                  formControlName="city"
                />
                <span
                  *ngIf="alert"
                  style="font-size: 0.7rem; color: red; margin-right: 1rem"
                >
                  شهر مورد نیاز است</span
                >
              </div>
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            "
          >
            <label for="owner" *ngFor="let owner of owners"
              >{{ owner.item }}
              <input
                type="radio"
                [value]="owner"
                style="margin-left: 1rem"
                formControlName="iamowner"
              />
            </label>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
            *ngIf="formregister.value.iamowner?.iamowner"
          >
            <div class="address" style="display: flex; flex-direction: row">
              <div>
                <div style="display: flex; flex-direction: column">
                  <label>بر ملک </label>
                  <input
                    type="text"
                    style="
                      width: 25rem;
                      height: 2.5rem;
                      border-radius: 0.3rem;
                      border: 1px solid rgb(189, 189, 189);
                      margin-right: 0.5rem;
                      margin-left: 3rem;
                    "
                    formControlName="earth"
                  />
                </div>
              </div>
              <div style="display: flex; flex-direction: column">
                <label> متراژ </label>
                <input
                  type="text"
                  style="
                    width: 25rem;
                    height: 2.5rem;
                    border-radius: 0.3rem;
                    border: 1px solid rgb(189, 189, 189);
                    margin-right: 0.5rem;
                    margin-left: 3rem;
                  "
                  formControlName="Area"
                />
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                margin-right: -1.4rem;
              "
            >
              <label> آدرس </label>
              <textarea
                name="address"
                cols="105"
                rows="3"
                formControlName="address"
              ></textarea>
            </div>
          </div>

          <button
            style="
              background-color: #ffcb53;
              width: 20rem;
              height: 2.8rem;
              border: none;
              border-radius: 0.2rem;
              margin-top: 5rem;
            "
            type="submit"
          >
            ثبت نام کنید
          </button>
        </div>
      </form>
    </Section>
  </div>
</div>
