/* You can add global styles to this file, and also import other style files */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    direction: rtl;
    
}

@font-face {
    font-family: "IRANSans";
    src: url('assets/fonts/iransans/woff/IRANSansWeb\(FaNum\).woff');
}

@import "../node_modules/font-awesome/scss/font-awesome.scss";

body {
    font-family: "IRANSans";
}