@import "~bootstrap/dist/css/bootstrap.min.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  direction: rtl;
  font-family: "IRANSans";

}

@font-face {
  font-family: "IRANSans";
  src: url("D:\rabaniangular\rabani-angular\src\assets\fonts\iransans\woff\IRANSansWeb(FaNum).woff");
}
@font-face {
  font-family: "IRANSansbold";
  src: url("D:\rabaniangular\rabani-angular\src\assets\fonts\iransans\woff\IRANSansWeb(FaNum)_Light.woff");
}
