/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  direction: rtl;
  font-family: "IRANSans";
}

@font-face {
  font-family: "IRANSans";
  src: url('/src/assets/fonts/iransans/woff2/IRANSansWeb(FaNum)_Black.woff2');
}

body {
  font-family: "IRANSans" !important;
}
