<div >
  <div class="application-container">
    <div class="logo-container">
      <img src="../../assets/images/favicon.ico" />
      <span class="logo-titlee">اپلیکیشن ربانی</span>
    </div>
    <div class="icons_container">
      <a
        class="icon_container"
        href="https://www.rabani.com/static/img/Apps.svg"
      >
        <img class="icons" src="https://www.rabani.com/static/img/Bazaar.svg" />
      </a>
      <a
        class="icon_container"
        href="https://www.rabani.com/static/img/SibApp.svg"
      >
        <img class="icons" src="https://www.rabani.com/static/img/SibApp.svg" />
      </a>
      <a
        class="icon_container"
        href="  https://iapps.ir/app/%D8%B1%D8%A8%D8%A7%D9%86%DB%8C/610829030"
      >
        <img class="icons" src="https://www.rabani.com/static/img/Apps.svg" />
      </a>

      <a class="icon_container" href="   https://sibche.ir/applications/rabani">
        <img class="icons" src="https://www.rabani.com/static/img/Sibche.svg" />
      </a>
    </div>
  </div>
</div>
