<div className="{className}">
  <div>
    <div className="logo_container">
      <img src="https://www.rabani.com/static/img/Logo.png" />
      <p className="logo-titlee">اپلیکیشن ربانی</p>
    </div>
    <div className="icons_container">
      <a
        className="icon_container"
        href="https://www.rabani.com/static/img/Apps.svg"
      >
        <img
          className="icons"
          src="https://www.rabani.com/static/img/Bazaar.svg"
        />
      </a>
      <a
        className="icon_container"
        href="https://www.rabani.com/static/img/SibApp.svg"
      >
        <img className="icons" src="/static/img/Bazaar.svg" />
      </a>
      <a
        className="icon_container"
        href="  https://iapps.ir/app/%D8%B1%D8%A8%D8%A7%D9%86%DB%8C/610829030"
      >
        <img className="icons" src="/static/img/Apps.svg" />
      </a>

      <a
        className="icon_container"
        href="   https://sibche.ir/applications/rabani"
      >
        <img className="icons" src="/static/img/Sibche.svg" />
      </a>
    </div>
  </div>
</div>
